[package]
name = "worktree_setup_config"
description = "Configuration loading for worktree-setup"
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true

[dependencies]
jwalk = { workspace = true }
log = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
thiserror = { workspace = true }
toml = { workspace = true }

[features]
default = []
fail-on-warnings = []

[dev-dependencies]
tempfile = { workspace = true }
